main.form{
    div.container{
        height: 80vh;
        form{
            margin-top: 5vmin;
            height: 100%;
            background-color: #E2E2E2;
            div.f1{
                display: flex;
                font-size: 3vmin;
                width: 100%;
                padding-top: 5vh;
                label{
                    margin-left: 15%;
                }
                input{
                    margin-left: 1%;
                    width: 59%;
                }
               
        }
        div.f2{
            font-size: 3vmin;
            width: 100%;
            margin-top: 3vh;
            margin-left: 15%;

    }
    div.f3{
        font-size: 3vmin;
        width: 100%;
        margin-top: 3vh;
        margin-left: 15%;
        select{
            width: 60%;
        }

}
div.f4{
    font-size: 3vmin;
    width: 100%;
    margin-top: 3vh;
    margin-left: 15%;
    select{
        width: 60%;
    }

}
div.f5{
    font-size: 3vmin;
    width: 100%;
    margin-top: 3vh;
    margin-left: 22.5%;
    display: flex;
    height: 30%;
    textarea{
        width: 59%;
        margin-left: 1%;

    }

}
hr{
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
    color: black;
}
button.btn1{
    font-size:3.5vmin;
    margin-top: 1.5vmin;
    margin-left: 35%;
    background-color: #F18787;
    width: 20vmin;
}
a.btn2{
    font-size: 3.5vmin;
    background-color: #F18787;
    margin-top: 1.5vmin;
    margin-left: 5%;
    width: 20vmin;

}
    }

}}
