main.inf{
    height: 60vh;
    padding-top: 2vmin;
    div.up{
        height: 100%;
        width: 80vw;
        margin-left: 10vw;
        background-color: #E2E2E2;

        div.title{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15%;
            h5{
                font-size: 4vmin;
                background-color: white;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60%;
            }

        }
        div.mid{
            display: flex;
            height: 5%;
            margin-top: -1%;
            h5.h1{
                margin-left: 35%;
                font-size: 2.5vmin;
                width: 10%;
            }
            h5.h2{
                margin-left: 15%;
                font-size: 2.5vmin;
                width: 10%;
            }
        }
        div.main{ 
            background-color: white;
            margin-left: 5%;
            width: 90%;

            height: 75%;
            div.d1{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15%;
            p.p1{
                margin-right: 18%;
                font-size: 2.5vmin;
                margin-top: 1%;

            }
            p.p2{
                font-size: 2.5vmin;
                margin-top: 1%;
                color: #FF0000;
            }
        
        }
        hr{
            height: 2%;
            margin: 0;
            width: 90%;
            margin-left: 5%;
        }
    }
    
    }
}
footer.inf{
    
    div.container{
        width: 80vw;
        max-width: 80vw;

        margin-left: 10vw;
        height: 70vh;
        max-height: 70vh;
        background-color: #E2E2E2;
        margin-top: 5vh;
    }
    div.title{
        
        display: flex;
        height: 10%;
        width: 80%;
        margin-left: 10%;
        h5{
            font-size: 3vmin;
            margin-top: 2.5%;

        }
        div.c1{
            margin-left: 25%;
            width: 20%;
            margin-top: 2.5%;
            button{
                width: 100%;
                font-size: 2.5vmin;
            }
            
        }
        div.c2{
            margin-left: 3%;
            width: 20%;
            margin-top: 2.5%;
            button{
                width: 100%;
                font-size: 2.5vmin;
            }
            
        }

    }
    div.img{
        margin-top: 2.5%;
        height: 75%;
        img{
            display: block;
            margin: auto;
            width: 80%;
            height: 50vmin;
        }
    }


}

@media only screen and (max-width:1560px){
   
    footer.inf{
        div.img{
            img{
                height: auto;
            }
        }
    }


    
        }
